<h1> View A Virus </h1>
<% if @malware != nil %>
    <p>
    <%=  @malware.name %>
      <br>
      posted by: <%= User.find_by(id: @malware.user_id).username %>
	  <br>
	  <a href="<%=@malware.link%>" >Link</a>
    </p>
<% else %>
    <h1> Virus </h1>
<% end %>
<% if !!session["user_id"]) && @malware != nil && @malware.user_id == session[:user_id] %>
  <form action= <%= "malware/#{@malware.id}/delete" %> method="post" >
    Delete this Virus
    <input type="submit" name="delete" id="submit">
  </form><br>
  <a href='/<%=@malware.id%>/edit' >Edit this virus</a>
<% end %>